:root {
    --app-background-color: #D9D9D9;

    --text-light: #FFFFFF;
    --text-dark: #000000;

    --table-header: var(--gray-400);
    --table-cell-separator: #000000;
    --table-row-odd: var(--surface-100);
    --table-row-even: #FFFFFF;

    --highlight-hn: #4472C4;
    --highlight-sls: #5B9BD5;
    --highlight-dh: #ED7D31;
}

.dark {
    --app-background-color: #6A6A6A;
}
